.flex {
  display: flex;
}
/* ===============================================for the sidebar styling ================================================================*/
.sidebar-main {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribute content */
  align-items: center;
  width: 7vw !important;
  height: 90vh;
  padding: 20px 0;
  border-radius: 20px;
  background-color: rgba(210, 231, 239, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  margin: 1rem;
  transition: width var(--transition-speed);
  overflow: hidden;
}

.sidebar.minimized {
  width: var(--sidebar-width-collapsed);
}

.sidebar-nav-sidebar {
  flex-grow: 1; /* Push the user icon down */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
/* ====================================================for the menu styling ===========================================================================================*/
.menu-list-sidebar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px; /* Add spacing between icons */
}

.menu-item-sidebar{
  width: 100%;
  text-align: center;
}

.menu-link-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--menu-item-color);
  padding: 15px 0;
  transition: background var(--transition-speed);
}

.menu-link.active {
  background-color: var(--menu-item-active-bg);
  color: var(--menu-item-active-color);
}

.menu-icon-sidebar {
  color: #24587e;
  width: 36px ;
  height: 36px ;
  
}
/*==============================================================user icons ================================*/
.user-icon-sidebar {
  margin-top: auto; /* Push to bottom */
  padding-bottom: 20px;
  text-align: center;
}

.user-icon-sidebar img {
  width: 70px;
  height: auto;
  border-radius: 99px;
  background-color: #f9f9f9;
  padding: 5px;
  transition: transform 0.3s ease;
}

.user-icon-sidebar img:hover {
  transform: scale(1.1);
}/*======================================menu icons ================================*/
h4 {
  margin-top: 10px;
  color: white;
  font-weight: bold;
}
.menu-text-sidebar{
  font-family: 'arial', Courier, monospace;
  font-weight: bold;
  color:#24587e;
}

.menu_item_container-sidebar{
  display:flex;
   flex-direction:column;
    justify-content: center; 
    align-items: center;
    width:auto;
    padding:10px;


}
.menu_item_container-sidebar:hover{
 
  color: #24587e;
  padding:10px;
  border-radius:15px;
  width:auto;

  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  background-color: rgba(220, 238, 247, 0.5);
  transition: width var(--transition-speed);
  overflow: hidden;
}
.homeIcon{
  display:flex;
  flex-direction:column;
   justify-content: center; 
   align-items: center;
}
