<body>
<app-sidebar></app-sidebar>
<div class="container">
  <div style="padding-bottom:40px; display: flex; justify-content: space-between; align-items: center;">
    <section>
    <h1 style="color:#ffffff;">Timesheet Management System</h1>
    <p style="color:white;">List Of Time Entries</p>
  </section>
  <div class="currentWeekWidget">
    <button class ="glow-button">Click to Review</button>
    <b>Current Week</b>
    <div class="badge">8</div>
  </div>
  </div>



          <form (submit)="addEntry()" class="entry-form" class="inputTable">
            <table style="border:none !important" class="inputTable">
              <tr style="border:none !important">
                <td> 
                  <input type="date" [(ngModel)]="newEntry.date" name="date" required />
                </td>
                <td>
                  <input type="text" [(ngModel)]="newEntry.category" name="category" placeholder="Category" required />
                </td>
                <td>
                  <input type="text" [(ngModel)]="newEntry.customer" name="customer" placeholder="Customer" required />
                </td>
                <td>
                  <input type="checkbox" [(ngModel)]="newEntry.billable" name="billable" /> Billable
                
                </td>
                <td>
                  <input type="number" [(ngModel)]="newEntry.timeSpent" name="timeSpent" placeholder="Hours" required />
                </td>
                <td>
                  <label>
                 
                 
                  </label>
                </td>
                <td>
                  <label>
                    <textarea type="text" [(ngModel)]="newEntry.comments" name="comments" placeholder="Comments" ></textarea>
              
                  </label>
                </td>
                <td>
                  <button type="submit">Add Entry</button>
                </td>
              </tr>
            </table>
          </form>


  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Category</th>
        <th>Customer</th>
        <th>Billable</th>
        <th>Time Spent</th>
        <th>Status</th>
        <th>Comments</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let entry of timeEntries; let i = index">
        <td>{{ entry.date }}</td>
        <td>{{ entry.category }}</td>
        <td>{{ entry.customer }}</td>
        <td ><div class="{{ entry.billable ? 'Green' : 'Red' }}" >{{ entry.billable ? 'Yes' : 'No' }}</div></td>
        <td>{{ entry.timeSpent }}</td>
        <td>{{ entry.status ? 'Completed' : 'Pending' }}</td>
        <td>{{ entry.comments }}</td>
        <td>
          <button (click)="deleteEntry(i)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>