

/* Column Layout */
.column {
  float: left;
  width: 50%;
  margin: 10px;
  background-color: #a9cf44;
  border-radius: 20px;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}




